  <%= form_for(@group_user) do |f| %>
  <label>Join a Group!</label><br>
  <br>
  <%=f.collection_select :group_id, Group.all, :id, :name %> 
  <%=f.collection_select :user_id, User.all, :id, :name %>
  <%= f.submit "Join Group" %>
<% end %>
